cmd_parsl.slurm.*
logs*
plots/*
runinfo/*
histograms/*
correction_files/tmp/
fitdir/*
__pycache__/*
config/__pycache__/*
lib/__pycache__/*
utils/__pycache__/*
workflows/__pycache__/*
notebooks/.ipynb_checkpoints/*